.prod-cl {
    width: 50% ;
    text-align: center;
}

.prod-cl .legend {
    margin-top: 20px;
    text-align: center;
    color: #787878;
}

.prod-cr {
    width: 50%;
    margin-bottom: 60px;
    font-size: 20px;   
}

.prod-cr p {
    font-size: 18px;
}

.prod-cr strong {
    font-size: 23px;
    color: #FB7AFC;
}

.prod-cl img {
    width: 300px;
    height: 300px;
    border-radius: 150px;   
    margin-top: 120px;
}


